<div class="job-detail">
    <div class="title">
        Job #{{job.id}}
        {{#x-select value=job.selected}}
          {{#each selections as |selection|}}
            {{#x-option value=selection}}{{selection}}{{/x-option}}
          {{/each}}
        {{/x-select}}
        <button {{action "clone" job}}>Clone</button>
        <a clase="button" href="{{rootURL}}/kue/jobs/{{job.id}}" target="_blank" >More info</a>
    </div>
    {{#if jobLog.content}}
      {{#paper-card}}
        {{#paper-toolbar}}
          {{#paper-toolbar-tools}}
            <h2>Log</h2>
            <span class="flex"></span>
            {{#paper-button onClick=(toggle "showLog" this)}}
              {{paper-icon icon="code"}}
            {{/paper-button}}
          {{/paper-toolbar-tools}}
        {{/paper-toolbar}}
        {{#paper-content class=(if showLog 'zero-max-height animate-max-height' 'eight-max-height animate-max-height' )}}
          <div class="card-body">
            {{#each jobLog.content as |logLine|}}
              {{logLine}} <br>
            {{/each}}
          </div>
        {{/paper-content}}
      {{/paper-card}}
    {{/if}}
    {{#paper-card}}
      {{#paper-toolbar}}
        {{#paper-toolbar-tools}}
          <h2>Job Data</h2>
          <span class="flex"></span>
          {{#paper-button onClick=(toggle "showData" this)}}
            {{paper-icon icon="code"}}
          {{/paper-button}}
        {{/paper-toolbar-tools}}
      {{/paper-toolbar}}
      {{#paper-content class=(if showData 'zero-max-height animate-max-height' 'eight-max-height animate-max-height' )}}
        <div class="card-body">
          <pre>{{json-pretty data=job}}</pre>
        </div>
      {{/paper-content}}
    {{/paper-card}}

    {{#if job.error}}
      {{#paper-card}}
        {{#paper-toolbar}}
          {{#paper-toolbar-tools}}
            <h2>Error</h2>
            <span class="flex"></span>
            {{#paper-button onClick=(toggle "showError" this)}}
              {{paper-icon icon="code"}}
            {{/paper-button}}
          {{/paper-toolbar-tools}}
        {{/paper-toolbar}}
        {{#paper-content class=(if showError 'zero-max-height animate-max-height' 'eight-max-height animate-max-height' )}}
          <div class="card-body error-output">
              {{format-error job.error}}
          </div>
        {{/paper-content}}
      {{/paper-card}}
    {{/if}}
    <button class="btn-remove" {{action "removeJob" job}}>Delete</button>
</div>
