<table class="table jobs">
  <thead class="heading">
    <div class="col" style="width: 60px">{{paper-checkbox value=allChecked onChange=(action 'checkAll')}}</div>
    <div class="col col-id">
      id
      {{toggle-arrow value=order action="toggleArrow"}}
      </div>
    <div class="col">type</div>
    <div class="col">state</div>
    <div class="col">created_at</div>
    <div class="col">updated_at</div>
    <div class="col">attempts</div>
  </thead>
  {{#vertical-collection
    jobs
    tagName='tbody'
    containerSelector="body"
    estimateHeight=400
     as |job|}}
     <tr class="table-row job {{if job.checked 'active'}}">
       <td class="col" style="width: 60px">
         {{paper-checkbox value=job.checked onChange=(action (toggle 'checked' job))}}
       </td>
       <td class="col" {{action "checkOne" job}}>{{job.id}}</td>
       <td class="col" {{action "checkOne" job}}>{{job.type}}</td>
       <td class="col" {{action "checkOne" job}}>{{job.state}}</td>
       <td class="col" {{action "checkOne" job}}>{{moment-format job.created_at "DD/MM/YYYY HH:mm:ss" "x"}}</td>
       <td class="col" {{action "checkOne" job}}>{{moment-format job.updated_at "DD/MM/YYYY HH:mm:ss" "x"}}</td>
       <td class="col" {{action "checkOne" job}}>{{job.attempts.made}} ({{job.attempts.remaining}}) </td>
     </tr>
  {{/vertical-collection}}

</table>
