<div class="route route-jobs-state">
  {{jobs-table jobs=model order=order orderAction="updateOrder"}}

  <div class="panel-right">
    {{#if (eq selectedJobs.length 1)}}
      {{job-detail job=selectedJobs.firstObject action="goToJob" removeAction="removeJob"}}
    {{else}}
      {{jobs-actions selectedJobs=selectedJobs refresh=(action 'refresh')}}
    {{/if}}
  </div>

  <div class="paging">
    Show

    {{#x-select value=size}}
      {{#each sizes as |availableSize|}}
        {{#x-option value=availableSize}}{{availableSize}}{{/x-option}}
      {{/each}}
    {{/x-select}}

    Per page
  </div>

  {{jobs-paging page=page}}
</div>
